@import '../../Necessities/fonts.scss';
*{
    margin: 0;
    padding: 0;
}
    .nav{
        width: 1280px;
        height: 36px;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        .nav_left{
            width: 504px;
            height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .links{
                width: 298px;
                height: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    color: white;
                    text-decoration: none;
                    @include BodyMediumMedium;
                }
            }
        }
        .nav_right{
            button{
                width: 156px;
                height: 36px;
                background-color: #FFC62B;
                border-radius: 8px;
                color: #C31E26;
                border: none;
                @include BodyMediumMedium;
                cursor: pointer;
            }
        }
    }

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
        .nav{
            width: 900px;
            height: 36px;
            margin-top: 30px;
            .nav_left{
                width: 504px;
                height: 32px;
                .links{
                    width: 298px;
                    height: 20px;
                }
            }
            .nav_right{
                button{
                    width: 156px;
                    height: 36px;
                    border-radius: 8px;
                }
            }
        }
    }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
        .nav{
            width: 700px;
            height: 36px;
            margin-top: 30px;
            .nav_left{
                width: 474px;
                height: 32px;
                .links{
                    width: 298px;
                    height: 20px;
                }
            }
            .nav_right{
                button{
                    width: 156px;
                    height: 36px;
                    border-radius: 8px;
                }
            }
        }
    }
    @media screen and (min-width: 425px) and (max-width: 767px) {
        .nav{
            width: 400px;
            height: 100px;
            margin-top: 0px;
            .nav_left{
                width: 240px;
                .links{
                    flex-direction: column;
                    height: 80px;
                }
            }
            .nav_right{
                button{
                    scale: 0.8;
                }
            }
        }
    }