@import '../Necessities/fonts.scss';

.sect_one{
    width: 100%;
    height: 825px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    .con{
        width: 1440px;
        height: 644px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .title{
            width: 802px;
            height: 212px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            text-align: center;
            p:nth-of-type(1){
                @include H2Semibold;
                color: white;
            }
            p:nth-of-type(2){
                width: 542px;
                @include BodyMediumRegular;
                color: white;
            }
            button{
                width: 107px;
                height: 36px;
                background-color: #C31E26;
                color: #FFC62B;
                cursor: pointer;
                border: none;
                border-radius: 8px;
                @include BodyMediumMedium;
            }
        }
        .reviews{
            width: 1504px;
            height: 372px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            .review{
                width: 416px;
                height: 372px;
            }
            .big_review{
                width: 627px;
                height: 372px;
            }
            .review, .big_review{
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                color: white;
                padding: 24px;
                box-sizing: border-box;
                background-color: rgb(255, 255, 255, 0.12);
                border-radius: 12px;
                .rating{
                    width: 176px;
                    height: 32px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .comment{
                    width: 100%;
                    height: 192px;
                    @include BodyLargeRegular;
                }
                .person{
                    width: 300px;
                    height: 52px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    .pfp img{
                        width: 52px;
                        height: 52px;
                        border-radius: 52px;
                        background-color: gainsboro;
                        margin-right: 8px;
                    }
                    .info{
                        height: 50px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        p:nth-of-type(1){
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 26px;
                            font-family: Inter Tight;
                        }
                        p:nth-of-type(2){
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            font-family: Inter Tight;
                        }
                    }
                }
            }
        }
    }
}
.sect_two{
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C31E26;
    .con{
        width: 1440px;
        height: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .video{
            width: 1440px;
            height: 608px;
            background-color: gainsboro;
        }
        .text{
            width: 1440px;
            height: 416px;
            padding: 60px;
            padding-left: 80px;
            padding-right: 80px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            background-color: #C31E26;
            .desc{
                width: 1280px;
                height: 192px;
                font-size: 40px;
                line-height: 48px;
                font-weight: 500;
                font-family: Inter Tight;
                color: white;
            }
            .title{
                width: 600px;
                height: 64px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                p:nth-of-type(1){
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 500;
                    font-family: Inter Tight;
                    color: white;
                }
                p:nth-of-type(2){
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    font-family: Inter Tight;
                    color: white;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .sect_one{
        height: 700px;
        .con{
            scale: 0.8;
        }
    }
    .sect_two{
        height: 728px;
        .con{
            scale: 0.711;
        }
    }
}