@import '../../Necessities/fonts.scss';

.faq_section{
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #FFC62B;
    overflow: hidden;
    position: relative;
    .con{
        margin-top: 104px;
        width: 1360px;
        height: 920px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        left: 40px;
        .top{
            width: 1280px;
            height: 112px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                width: 781px;
                font-size: 48px;
                line-height: 56px;
                font-family: Inter Tight;
                font-weight: 600;
            }
            .desc{
                width: 406px;
                height: 90px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                p{
                    font-size: 14px;
                    line-height: 20px;
                    font-family: Inter Tight;
                    font-weight: 400;
                }
                button{
                    width: 130px;
                    height: 36px;
                    background-color: #C31E26;
                    color: #FFC62B;
                    border: none;
                    border-radius: 8px;
                    @include BodyMediumMedium;
                    cursor: pointer;
                }
            }
        }
        .bot{
            width: 1360px;
            height: 780px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            .faq{
                width: 627px;
                height: 644px;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                margin-top: 32px;
                .faq_question{
                    width: 627px;
                    height: 68px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 14px;
                    padding-right: 14px;
                    background-color: rgb(255, 255, 255, 0.12);
                    border-radius: 12px;
                    border: white 1px solid;
                    margin-bottom: 24px;
                    box-sizing: border-box;
                    transition: 0.25s all ease;
                    &.active{
                        height: 92px;
                        padding: 14px;
                        background-color: rgb(255, 255, 255, 0.42);
                        transition: 0.25s all ease;
                        .text{
                            height: 64px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            color: #C31E26;
                            transition: 0.25s all ease;
                        }
                    }
                    .text{
                        color: #1B1B1B;
                        transition: 0.25s all ease;
                        p:nth-of-type(1){
                            font-size: 24px;
                            line-height: 32px;
                            font-family: Inter Tight;
                            font-weight: 500;
                        }
                        p:nth-of-type(2){
                            font-size: 14px;
                            line-height: 20px;
                            font-family: Inter Tight;
                            font-weight: 400;
                        }
                    }
                    .arrow{
                        background-color: white;
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: 0.25s all ease;
                    }
                    .arrow.active{
                        background-color: #C31E26;
                        overflow: hidden;
                        img{
                            transform: translate(0px, -48px);
                            filter: drop-shadow(0px 48px white);
                            rotate: 179.9deg;
                        }
                    }
                }
            }
            .image{
                width: 680px;
                height: 780px;
                background-color: gainsboro;
            }
        }
    }
}