@import '../Necessities/fonts.scss';

.sect_one{
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC62B;
    .con{
        width: 1280px;
        height: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .top{
            width: 1280px;
            height: 112px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                width: 690px;
                height: 112px;
                font-family: Inter Tight;
                font-size: 48px;
                line-height: 56px;
                font-weight: 600;
            }
            .right{
                width: 406px;
                height: 110px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                p{
                    font-family: Inter Tight;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                }
                button{
                    width: 130px;
                    height: 36px;
                    background-color: #C31E26;
                    color: #FFC62B;
                    border: none;
                    border-radius: 8px;
                    @include BodyMediumMedium;
                    cursor: pointer;
                }
            }
        }
        .bottom{
            width: 1280px;
            height: 628px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                width: 628px;
                height: 628px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                padding: 24px;
                box-sizing: border-box;
                background-color: rgb(255, 255, 255, 0.24);
                border-radius: 14px;
                .line{
                    width: 580px;
                    height: 68px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    padding: 14px;
                    box-sizing: border-box;
                    background-color: rgb(255, 255, 255, 0.24);
                    border-radius: 12px;
                    transition: 0.1s all ease;
                    .title{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 552px;
                        height: 48px;
                        font-size: 24px;
                        font-family: Inter Tight;
                        line-height: 32px;
                        font-weight: 500;
                        >div{
                            width: 40px;
                            height: 40px;
                            background-color: white;
                            border-radius: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                    }
                    .desc{
                        display: none;
                    }
                }
                .line.active{
                    width: 580px;
                    height: 120px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    padding: 14px;
                    box-sizing: border-box;
                    background-color: #C31E26;
                    .title{
                        font-size: 24px;
                        font-family: Inter Tight;
                        line-height: 32px;
                        font-weight: 500;
                        color: white;
                        >div{
                            overflow: hidden;
                        }
                        >div img{
                            transform: translate(-50px);
                            filter: drop-shadow(50px 0px #C31E26);
                            rotate: 179.9deg;
                        }
                    }
                    .desc{
                        width: 552px;
                        height: 40px;
                        display: flex;
                        font-size: 14px;
                        font-family: Inter Tight;
                        line-height: 20px;
                        font-weight: 400;
                        color: white;
                    }
                }
            }
            .right img{
                width: 628px;
                height: 628px;
                background-color: gainsboro;
            }
        }
    }
}
.sect_two{
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    .con{
        width: 1280px;
        height: 914px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .title{
            width: 802px;
            height: 164px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-direction: column;
            p:nth-of-type(1){
                @include H2Semibold;
                color: white;
            }
            p:nth-of-type(2){
                @include BodyMediumRegular;
                color: white;
                width: 492px;
            }
        }
        .images{
            width: 1280px;
            height: 690px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            .left{
                width: 805px;
                height: 690px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                .top img{
                    width: 805px;
                    height: 425px;
                    background-color: gainsboro;
                }
                .bottom{
                    width: 805px;
                    height: 243px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .bottom img:nth-of-type(1){
                    width: 328px;
                    height: 241px;
                    background-color: gainsboro;
                }
                .bottom img:nth-of-type(2){
                    width: 451px;
                    height: 241px;
                    background-color: gainsboro;
                }
            }
            .right{
                width: 451px;
                height: 690px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                img{
                    width: 451px;
                    height: 333px;
                    background-color: gainsboro;
                }
            }
        }
    }
}
.sect_three{
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    .con{
        width: 1440px;
        height: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        .left{
            width: 721px;
            height: 1024px;
            img{
                width: 721px;
                height: 1024px;
                background-color: gainsboro;
            }
        }
        .right{
            width: 606px;
            height: 960px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            margin-top: 32px;
            margin-right: 80px;
            .main_part{
                width: 606px;
                height: 887px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                .title{
                    width: 606px;
                    height: 124px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    p:nth-of-type(1){
                        @include H4Semibold;
                        color: white;
                    }
                    p:nth-of-type(2){
                        font-size: 14px;
                        font-family: Inter Tight;
                        font-weight: 400;
                        line-height: 20px;
                        color: white;
                    }
                }
                .form{
                    width: 606px;
                    height: 667px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    .inputs{
                        width: 606px;
                        height: 575px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        color: white;
                        .name{
                            width: 606px;
                            height: 118px;
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                        }
                        .first, .last{
                            width: 296px;
                            height: 118px;
                            input{
                                width: 296px;
                                height: 74px;
                            }
                        }
                        .email{
                            width: 606px;
                            height: 118px;
                            input{
                                width: 606px;
                                height: 74px;
                            }
                        }
                        .comment{
                            width: 606px;
                            height: 291px;
                            textarea{
                                resize: none;
                                width: 606px;
                                height: 247px;
                            }
                        }
                        .first, .last, .email, .comment{
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                            flex-direction: column;
                            label{
                                font-size: 24px;
                                font-family: Inter Tight;
                                font-weight: 500;
                                line-height: 32px;
                            }
                            input, textarea{
                                font-size: 18px;
                                font-family: Inter Tight;
                                font-weight: 500;
                                line-height: 26px;
                                padding: 24px;
                                box-sizing: border-box;
                                background-color: rgb(255, 255, 255, 0.24);
                                border: 1px solid white;
                                border-radius: 12px;
                                color: white;
                            }
                            
                        }
                    }
                    .button{
                        button{
                            width: 606px;
                            height: 52px;
                            background-color: #C31E26;
                            color: white;
                            border-radius: 12px;
                            border: none;
                            cursor: pointer;
                            font-size: 16px;
                            font-family: Inter Tight;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }
                }
                .terms{
                    width: 606px;
                    height: 16px;
                    text-align: center;
                    font-size: 12px;
                    font-family: Inter Tight;
                    font-weight: 400;
                    line-height: 16px;
                    color: white;
                    a{
                        text-decoration: none;
                        color: #C31E26;
                    }
                }
            }
            .rights{
                width: 606px;
                height: 24px;
                text-align: center;
                color: white;
                font-size: 16px;
                font-family: Inter Tight;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .sect_one{
        height: 660px;
        .con{
            scale: 0.75;
        }
    }
    .sect_two{
        height: 740px;
        .con{
            scale: 0.75;
        }
    }
    .sect_three{
        width: 100%;
        height: 800px;
        .con{
            width: 1440px;
            height: 1024px;
            scale: 0.7;
            .left{
                width: 721px;
                height: 1024px;
                img{
                    width: 721px;
                    height: 1024px;
                }
            }
            .right{
                width: 606px;
                height: 960px;
                margin-top: 32px;
                margin-right: 80px;
                position: relative;
                left: 40px;
                .main_part{
                    width: 606px;
                    height: 887px;
                    .title{
                        width: 606px;
                        height: 124px;
                        p:nth-of-type(2){
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                    .form{
                        width: 606px;
                        height: 667px;
                        .inputs{
                            width: 606px;
                            height: 575px;
                            .name{
                                width: 606px;
                                height: 118px;
                            }
                            .first, .last{
                                width: 296px;
                                height: 118px;
                                input{
                                    width: 296px;
                                    height: 74px;
                                }
                            }
                            .email{
                                width: 606px;
                                height: 118px;
                                input{
                                    width: 606px;
                                    height: 74px;
                                }
                            }
                            .comment{
                                width: 606px;
                                height: 291px;
                                textarea{
                                    width: 606px;
                                    height: 247px;
                                }
                            }
                            .first, .last, .email, .comment{
                                label{
                                    font-size: 24px;
                                    line-height: 32px;
                                }
                                input, textarea{
                                    font-size: 18px;
                                    line-height: 26px;
                                    padding: 24px;
                                    background-color: rgb(255, 255, 255, 0.24);
                                    border: 1px solid white;
                                    border-radius: 12px;
                                }
                                
                            }
                        }
                        .button{
                            button{
                                width: 606px;
                                height: 52px;
                                border-radius: 12px;
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                    .terms{
                        width: 606px;
                        height: 16px;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
                .rights{
                    width: 606px;
                    height: 24px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .sect_one{
        height: 900px;
        .con{
            scale: 0.9;
            height: 900px;
            .top{
                flex-direction: column;
                height: 250px;
                .right{
                    width: 680px;
                }
            }
            .bottom{
                justify-content: center;
                width: 900px;
                .right{
                    display: none;
                }
            }
        }
    }
    .sect_two{
        height: 600px;
        .con{
            scale: 0.55;
            .title{
                scale: 1.2;
            }
        }
    }
    .sect_three{
        .con{
            width: 700px;
            align-items: center;
            justify-content: center;
            scale: 1;
            .left{
                display: none;
            }
            .right{
                margin-right: 0px;
            }
        }
    }
}