@import '../Necessities/fonts.scss';

.sect_one{
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #070707;
    overflow: hidden;
    position: relative;
    .circle{
        position: absolute;
        transform: translate(-500px, -250px);
        z-index: 0;
        pointer-events: none;
        filter: blur(576px);
    }
    .con{
        width: 1280px;
        height: 786px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        position: relative;
        .text{
            width: 550px;
            height: 100px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            color: white;
            p:nth-of-type(1){
                @include H2Semibold;
            }
            p:nth-of-type(2){
                @include BodyMediumRegular;
                width: 456px;
            }
        }
        .menu_swiper{
            width: 1280px;
            height: 786px;
            display: flex;
            align-items: end;
            position: absolute;
            .swiper_slide{
                width: 302px;
                height: 616px;
                display: flex;
                justify-content: end;
                align-items: start;
                flex-direction: column;
                transition: 0.5s ease all;
                .image, .image img{
                    width: 302px;
                    height: 430px;
                    background-color: gainsboro;
                    margin-bottom: 24px;
                }
                .info{
                    width: 302px;
                    height: 72px;
                    background-color: #070707;
                    border-radius: 12px;
                    transition: 0.5s all ease;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    .title_and_desc{
                        width: 302px;
                        height: 72px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        color: white;
                        transition: 0.5s all ease;
                        .title{
                            @include H6Medium;
                        }
                        .desc{
                            @include BodySmallRegular;
                        }
                    }
                    .rating_and_price{
                        width: 274px;
                        height: 0px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.5s all ease;
                        .rating{
                            width: 152px;
                            height: 24px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .price{
                            color: #C31E26;
                            @include H5Semibold;
                        }
                    }
                }
                &:hover{
                    width: 302px;
                    height: 616px;
                    transition: 0.5s ease all;
                    .info{
                        height: 162px;
                        background-color: #FFC62B;
                        padding: 14px;
                        .title_and_desc{
                            color: black;
                            transition: 0.5s all ease;
                        }
                    }
                    .rating_and_price{
                        height: 32px;
                        visibility: visible;
                        opacity: 1;
                        transition: 0.5s all ease;
                    }
                }
            }
        }
    }   
}

.sect_three{
    width: 100%;
    height: 2303px;
    background-color: #070707;
    display: flex;
    justify-content: center;
    align-items: start;
    .con{
        width: 1280px;
        height: 2024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .top{
            width: 905px;
            height: 232px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            .title_and_desc{
                width: 550px;
                height: 166px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                text-align: center;
                p:nth-of-type(1){
                    @include H2Semibold;
                    color: white;
                }
                p:nth-of-type(2){
                    @include BodyMediumRegular;
                    color: white;
                }
            }
            .tags{
                width: 905px;
                height: 42px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    color: white;
                    font-family: Inter Tight;
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 500;
                    padding-left: 24px;
                    padding-right: 24px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-radius: 40px;
                    border: 1px solid #C31E26;
                    cursor: pointer;
                    &.active{
                        background-color: #C31E26;
                    }
                    &:hover{
                        background-color: #C31E26;
                    }
                }
            }
        }
        .dishes{
            width: 1280px;
            height: 1732px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            .highlight{
                position: absolute;
                z-index: 0;
                transform: translate(300px, -500px);
                filter: blur(576px);
                opacity: 0.5;
            }
            .line{
                width: 303px;
                height: 1732px;
                display: flex;
                justify-content: end;
                align-items: center;
                flex-direction: column;
                position: relative;
                z-index: 1;
                .swiper_slide{
                    width: 303px;
                    height: 526px;
                    display: flex;
                    justify-content: end;
                    align-items: start;
                    flex-direction: column;
                    transition: 0.5s ease all;
                    margin-top: 32px;
                    .image, .image img{
                        width: 302px;
                        height: 430px;
                        background-color: gainsboro;
                        margin-bottom: 24px;
                    }
                    .info{
                        width: 302px;
                        height: 72px;
                        background-color: #070707;
                        border-radius: 12px;
                        transition: 0.5s all ease;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        .title_and_desc{
                            width: 302px;
                            height: 72px;
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                            flex-direction: column;
                            color: white;
                            transition: 0.5s all ease;
                            .title{
                                @include H6Medium;
                            }
                            .desc{
                                @include BodySmallRegular;
                            }
                        }
                        .rating_and_price{
                            width: 274px;
                            height: 0px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            visibility: hidden;
                            opacity: 0;
                            transition: 0.5s all ease;
                            .rating{
                                width: 152px;
                                height: 24px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                            .price{
                                color: #C31E26;
                                @include H5Semibold;
                            }
                        }
                    }
                    &:hover{
                        width: 302px;
                        height: 616px;
                        transition: 0.5s ease all;
                        .info{
                            height: 162px;
                            background-color: #FFC62B;
                            padding: 14px;
                            .title_and_desc{
                                color: black;
                                transition: 0.5s all ease;
                            }
                        }
                        .rating_and_price{
                            height: 32px;
                            visibility: visible;
                            opacity: 1;
                            transition: 0.5s all ease;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
    .sect_one{
        width: 100%;
        height: 800px;
        .circle{
            transform: translate(-500px, -250px);
        }
        .con{
            width: 1024px;
            height: 640px;
            .text{
                width: 400px;
                height: 80px;
                p:nth-of-type(2){
                    width: 456px;
                }
            }
            .menu_swiper{
                width: 1024px;
                height: 640px;
                .swiper_slide{
                    width: 238px;
                    height: 500px;
                    .image, .image img{
                        width: 238px;
                        height: 340px;
                        margin-bottom: 24px;
                    }
                    .info{
                        width: 238px;
                        height: 60px;
                        border-radius: 12px;
                        .title_and_desc{
                            width: 210px;
                            height: 60px;
                        }
                        .rating_and_price{
                            width: 210px;
                            height: 0px;
                            .rating{
                                width: 100px;
                                height: 20px;
                                scale: 0.8;
                                left: -12px;
                                position: relative;
                                img{
                                    scale: 0.9;
                                }
                            }
                        }
                    }
                    &:hover{
                        width: 238px;
                        height: 500px;
                        .info{
                            height: 130px;
                            padding: 14px;
                        }
                        .rating_and_price{
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .sect_three{
        width: 100%;
        height: 1920px;
        .con{
            width: 1024px;
            height: 1800px;
            .top{
                width: 905px;
                height: 232px;
                .title_and_desc{
                    width: 550px;
                    height: 146px;
                }
                .tags{
                    width: 905px;
                    height: 40px;
                    p{
                        font-size: 18px;
                        line-height: 26px;
                        padding-left: 24px;
                        padding-right: 24px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-radius: 40px;
                    }
                }
            }
            .dishes{
                width: 1024px;
                height: 1500px;
                position: relative;
                bottom: 50px;
                .highlight{
                    transform: translate(300px, -500px);
                    filter: blur(576px);
                }
                .line{
                    width: 238px;
                    height: 1500px;
                    .swiper_slide{
                        width: 238px;
                        height: 480px;
                        margin-top: 24px;
                        .image, .image img{
                            width: 238px;
                            height: 320px;
                            margin-bottom: 24px;
                        }
                        .info{
                            width: 238px;
                            height: 72px;
                            border-radius: 12px;
                            .title_and_desc{
                                width: 238px;
                                height: 72px;
                            }
                            .rating_and_price{
                                width: 238px;
                                height: 0px;
                                .rating{
                                    width: 152px;
                                    height: 24px;
                                }
                            }
                        }
                        &:hover{
                            width: 238px;
                            height: 480px;
                            .info{
                                height: 120px;
                                padding: 14px;
                            }
                            .rating_and_price{
                                height: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .sect_one{
        height: 600px;
        .con{
            scale: 0.72;
            height: 600px;
            width: 970px;
            transform: translateY(-30px);
            .menu_swiper{
                width: 970px;
                height: 700px;
                .swiper_slide{
                    width: 224px;
                    .image{
                        width: 224px;
                        height: 400px;
                        img{
                            width: 224px;
                            height: 400px;
                        }
                    }
                    .info{
                        scale: 0.74;
                        transform: translateX(-50px);
                    }
                }
            }
        }
    }
    .sect_three{
        height: 1600px;
        .con{
            scale: 0.75;
            height: 2000px;
            transform: translateY(-300px);
            .dishes{
                width: 950px;
                .line:nth-of-type(4){
                    display: none;
                }
            }
        }
    }
}