@import '../../Necessities/fonts.scss';

.sect_four{
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #070707;
    overflow: hidden;
    .con{
        width: 1280px;
        height: 775px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 180px;
        .quote{
            position: absolute;
            font-family: Inter Tight;
            font-weight: 900;
            color: rgb(255, 198, 43, 0.5);
            z-index: 0;
            font-size: 296px;
            line-height: 296px;
            pointer-events: none;
            &:nth-of-type(1){
                transform: translate(-600px, -70px);
            }
            &:nth-of-type(2){
                transform: translate(600px, 110px);
            }
        }
        .title{
            width: 1300px;
            height: 224px;
            @include H2Bold;
            color: white;
            position: relative;
            z-index: 1;
            text-transform: uppercase;
        }
        .slider{
            width: 355px;
            height: 480px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            .top{
                width: 355px;
                height: 392px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                text-align: center;
                .images{
                    width: 355px;
                    height: 346px;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    img{
                        position: absolute;
                        transition: 0.25s all ease;
                        pointer-events: none;
                    }
                    img:nth-of-type(1){
                        background-color: white;
                    }
                    img:nth-of-type(2){
                        background-color: #C31E26;
                    }
                    img:nth-of-type(3){
                        background-color: #FFC62B;
                    }
                }
                .text{
                    @include H5Medium;
                    color: white;
                    width: 355px;
                    height: 392px;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                }
            }
            .directions{
                width: 104px;
                height: 48px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div{
                    width: 48px;
                    height: 48px;
                    border-radius: 48px;
                    border: 1px solid white;
                    box-sizing: border-box;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                div:nth-of-type(1){
                    rotate: 180deg;
                }
            }
        }
    }
}
@media screen and (max-width: 1439px) and (min-width: 1024px){
    .sect_four{
        width: 100%;
        height: 1000px;
        .con{
            width: 1024px;
            height: 600px;
            margin-top: 120px;
            .quote{
                font-size: 244px;
                line-height: 244px;
                &:nth-of-type(1){
                    transform: translate(-440px, -70px);
                }
                &:nth-of-type(2){
                    transform: translate(440px, 110px);
                }
            }
            .title{
                width: 1024px;
                height: 160px;
            }
            .slider{
                width: 355px;
                height: 400px;
                position: relative;
                top: 60px;
                .top{
                    width: 355px;
                    height: 392px;
                    .images{
                        width: 355px;
                        height: 346px;
                    }
                    .text{
                        width: 355px;
                        height: 392px;
                    }
                }
                .directions{
                    width: 104px;
                    height: 48px;
                    margin-top: 10px;
                    div{
                        width: 48px;
                        height: 48px;
                        border-radius: 48px;
                        border: 1px solid white;
                    }
                    div:nth-of-type(1){
                        rotate: 180deg;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .sect_four{
        display: none;
    }
}