@import '../../Necessities/fonts.scss';

.header{
    width: 100%;
    height: 742px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    .circle_one{
        position: absolute;
        transform: translate(605px, -95px);
        z-index: 0;
        pointer-events: none;
    }
    .circle_two{
        position: absolute;
        transform: translate(-605px, 456px);
        z-index: 0;
        pointer-events: none;
    }
    .highlight{
        position: absolute;
        transform: translate(-405px, -235px);
        z-index: 0;
        filter: blur(576px);
        pointer-events: none;
    }
    .title{
        @include H1Bold;
        width: 1100px;
        height: 144px;
        text-align: center;
        margin-top: 42px;
        z-index: 1;
    }
    .image{
        width: 650px;
        height: 565px;
        position: relative;
        margin-top: 6px;
        z-index: 1;
        img{
            width: 650px;
            height: 565px;
            position: relative;
            background-color: gainsboro;
            z-index: 1;
        }
    }
    .quality{
        position: absolute;
        width: 163px;
        height: 137px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 14px;
        box-sizing: border-box;
        border-radius: 12px;
        background-color: white;
        transform: translate(-345px,316px);
        z-index: 1;
        box-shadow: 0px 4px 20px 0px rgb(0, 0, 0, 0.12);
        .img{
            width: 52px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            background-color: #C31E26;
            box-shadow: inset 0 4px 4px 0 rgb(0, 0, 0, 0.25), 0 4px 4px 0 rgb(0, 0, 0, 0.25);
        }
        .text{
            display: flex;
            height: 45px;
            justify-content: space-between;
            flex-direction: column;
            p:nth-of-type(1){
                @include BodyLargeMedium;
            }
            p:nth-of-type(2){
                @include BodySmallRegular;
            }
        }
    }
    .explore{
        position: absolute;
        width: 379px;
        height: 120px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        transform: translate(480px, 341px);
        z-index: 1;
        p{
            @include BodyMediumRegular;
        }
        button{
            width: 130px;
            height: 36px;
            border: none;
            background-color: white;
            border-radius: 8px;
            cursor: pointer;
            @include BodyMediumMedium;
        }
        button:nth-of-type(2){
            margin-left: 12px;
            color: #C31E26;
        }
    }
    .michelin{
        position: absolute;
        width: 127px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        background-color: white;
        border-radius: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        box-sizing: border-box;
        @include H6Medium;
        transform: translate(365px, 575px);
        z-index: 1;
        box-shadow: 0px 4px 20px 0px rgb(0, 0, 0, 0.12);
        >div{
            width: 103px;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
    .header{
        width: 100%;
        height: 600px;
        .circle_one{
            transform: translate(605px, -95px);
        }
        .circle_two{
            transform: translate(-605px, 456px);
        }
        .highlight{
            transform: translate(-405px, -235px);
            filter: blur(576px);
        }
        .title{
            width: 1024px;
            height: 144px;
            margin-top: 42px;
        }
        .image{
            width: 650px;
            height: 400px;
            margin-top: 6px;
            img{
                width: 650px;
                height: 400px;
            }
        }
        .quality{
            width: 150px;
            height: 120px;
            padding: 14px;
            border-radius: 12px;
            transform: translate(-345px,316px);
            box-shadow: 0px 4px 20px 0px rgb(0, 0, 0, 0.12);
            .img{
                width: 52px;
                height: 52px;
                border-radius: 12px;
                box-shadow: inset 0 4px 4px 0 rgb(0, 0, 0, 0.25), 0 4px 4px 0 rgb(0, 0, 0, 0.25);
            }
            .text{
                height: 36px;
            }
        }
        .explore{
            width: 379px;
            height: 80px;
            transform: translate(380px, 341px);
            button{
                width: 130px;
                height: 36px;
                border-radius: 8px;
            }
            button:nth-of-type(2){
                margin-left: 12px;
            }
        }
        .michelin{
            width: 127px;
            height: 80px;
            border-radius: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 12px;
            padding-right: 12px;
            transform: translate(325px, 475px);
            box-shadow: 0px 4px 20px 0px rgb(0, 0, 0, 0.12);
            >div{
                width: 103px;
            }
        }
    }
}